.msg{
    font-size:13px;
    color:red;
    display:block;
    margin:-19px 0px 8px 0px
}

.mirror{
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.question{
    display:block;
    height:32px;
    margin-bottom:15px;
}

.question .black{
    margin-top:10px;
    line-height:32px;
}

.email-recovery {
    margin-bottom: 62px;
}

.pass_sent {
    margin-bottom: 119px !important;
}

.secret_answer_animal {
    margin-bottom: 30px;
}

.secret_answer_city {
    margin-bottom: 46px;
}