/* 
    Document   : messages
    Created on : 27/05/2013, 09:59:06
    Author     : IPTI
    Description:
        Purpose of the stylesheet follows.
*/

.contacts_box {margin-left: 40px;}
.contacts_box_title {display: block; width: 96px; position: relative; margin-top: 28px; padding: 10px 10px 10px 10px; border: 1px solid #969696; border-radius: 2px; background-color: #fff;}
.contacts_box_title p {color: #cf7353; text-transform: uppercase; font-size: 15px; font-weight: bold;}
.contacts_box h1 {margin: 40px 0px 30px 20px; color: #9d9d9d; text-transform: uppercase; font-size: 12px; font-style:italic;}
.contacts_line {width: 830px; margin: -18px 0px 0px 0px;}
.contacts_box_block {display: block; height:120px;width: 266px; margin: -1px 0px 0px -1px; border: 1px solid #969696; border-radius: 2px;}
.contacts_box_blocks {width:300px; float:left; margin: 35px 0px 35px 24px;height:500px;overflow:auto;padding:1px}
.contacts_block_align {margin-left: -32px;}
.profile_avatar {text-decoration: none; background:url(../images/avatar.png) no-repeat; display: block; width:56px; height:57px; border: 1px solid #909090; padding: 10px 10px 10px 10px; background-position: 10px; margin: 20px 136px 22px 50px; float: left;}
.name {display: block; margin: -10px 0px 2px 74px; color: #cf7353; font: 14px Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px; text-decoration:none;width:130px}
.occupation {display: block; margin: 0px 0px 10px 74px; color: #818080; font: 14px Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 11px;}
.clear {display:block;clear:both;}
.contacts_messages{float:right;width:500px;margin:34px 30px 30px 0;height:500px;border:1px solid #969696;border-radius:5px;overflow:auto;background-color:#F5F5DC}
.contact_name{color:#CF7353;font-weight:bold;margin:10px;display:block;cursor:pointer;text-decoration:none}
.contact_name:hover{text-decoration: underline}
.contact_message{margin:0 0 0 5px;font-size:12px;color:#CF7353}
.contact_message_name{display:block;margin:5px 0 1px 10px;font-size:13px;width:365px}
.contact_message_date{font-size:10px;float:right;margin:-16px 10px 0;color:#A6A6A6}
.contact_message_photo{width:20px;height:20px;float:left;margin-left:11px;}
.contact_curriculum_message{margin:10px 0 0 12px;font-size:12px;color:#CF7353;display:block;width:450px}
.contact_curriculum_message_business_name{display:block;margin:5px 0 1px 12px;font-size:18px;width:365px;color:#CF7353}
.contact_curriculum_message_date{font-size:10px;float:right;margin:6px 10px 0;color:#A6A6A6}
.contact_curriculum_message_email{color:#CF7353;font-size:12px;margin-left:5px}
.contact_curriculum_message_phone{color:#CF7353;font-size:12px;margin-left:5px}
.contact_label{font-size:12px;margin-left:12px;}

