@charset "utf-8";
/**RESET**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: Arial, Helvetica, sans-serif; vertical-align: baseline;}
:focus {outline: 0;}
ol, ul {list-style: none;}
strong {font-weight: bold;}
/* CSS Document */
.clear {display:block;clear:both;}
.authorizationTable{   
   border-collapse:collapse;
   border:1px solid #000000;
   margin: 0 auto;
}

.authorizationTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
   width: 200px;
}

.authorizationTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;	
}

.authorizationTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}
#admin_box{margin: 20px 0 12px 0px;}
#button_box{margin: 0 auto; width: 600px;}

.buttons {cursor:pointer; width:120px; height:26px; border:1px #666 solid; border-radius:4px; margin:10px 5px 0px;}
.authorization_alert {color:red;font-size:15px;font-weight:bold;width:266px;display:block;margin:0 auto}
.authorization_title {font-size:15px;font-weight:bold;width:83px;;display:block;margin:10px auto}
.authorization_objects{font-size:15px;font-weight:bold;width:234px;;display:block;margin:10px auto}
.authorization_objects_alert {color:red;font-size:15px;font-weight:bold;width:329px;display:block;margin:0 auto}
.authorization_objects_panel{display:block;width:750px;border:1px solid #ccc; padding:10px;margin:20px auto}
.publish_objects{display:block;margin:20px 0}
.submitted_object{color: #0000FF;}
.submitted_object_box{display:block;margin:0 0 10px 0}
.active_object_box{display:block;margin:0 0 10px 0}
.inactive_object_box{display:block;margin:0 0 10px 0}
