@charset "utf-8";
/* CSS Document */
.profile_menu {position: relative; width: 900px; top: -22px; left: 50px;}
.profile_menu ul {position: absolute; top: -8px;}
.profile_menu li {display: inline-block; width:120px; height:28px; background-color: #9f9f9f; border: solid 1px #898989;-webkit-box-shadow: 0px 0px 12px rgba(197, 199, 190, 1); -moz-box-shadow:0px 0px 12px rgba(197, 199, 190, 1); box-shadow:0px 0px 12px rgba(197, 199, 190, 1);cursor: pointer; padding: 0px 6px 0px 26px; margin-right: 50px;}
.profile_menu li:hover {background-color: #fff; height:32px; }
.profile_menu a {text-decoration:none; color: #ffffff; position: relative; top: -1px; width: 154px; height: 30px; right: 52px; display: block; text-align: center; padding: 6px 0px 0px 55px; margin-left: -32px;}
.profile_menu a:hover {color:#9f9f9f; text-decoration:none; position: relative; top: -1px; width: 154px; height: 30px; right: 52px; display: block; text-align: center; padding: 6px 0px 0px 55px; margin-left: -32px;}
.widget_profile {margin-left: 26px;}
.widget_curriculum {margin-left: 12px;}
.widget_multimedia {margin-left: 12px;}
.widget_network {margin-left: -6px;}
.profile_info {width:460px; height:300px; float: left;}
.profile_avatar {background:url(../images/avatar.png) no-repeat; width:56px; height:57px; border: 1px solid #909090; padding: 10px 10px 10px 10px;background-position: 10px; margin: 20px 0px 0px 50px; float: left;}
.name {width: 100%; position: relative; top: 22px; left: 16px; color: #cf7353; font: 14px Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px;display:block;width:345px}
.name input{width:180px}
.occupation {width: 100%; position: relative; top: 28px; left: 16px; color: #818080; font: 14px Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 16px;display:block;width:345px}
.email {width: 100%; position: relative; top: 36px; left: 16px; color: #2e3092; font: 14px Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 13px;display:block;width:360px}
.profile_avatar p{width:360px; position: absolute; margin: 90px 0px 0px -10px; border: 1px solid #d1d1d1; border-radius: 2px; padding: 10px 10px 10px 10px; background-color:#dcdcdc; color:#797979;}
.resume { font-size:12px; }
.resume textarea{width:300px}
.button_add_friend{text-decoration:none; color:#FFF; border:1px solid #248c1e; cursor:pointer; background-color: #71bf44; display:block; width:88px; height:21px; text-align:center; position:relative; left:215px; top:18px; border-radius:2px; font-size:14px;}
.button_added_friend{text-decoration:none; color:#FFF; border:1px solid #248c1e; background-color: #71bf44; display:block; width:88px; height:21px; text-align:center; position:relative; left:215px; top:18px; border-radius:2px; font-size:14px;}
.button_friend{text-decoration:none; color:#FFF; border:1px solid #248c1e; background-color: #71bf44; display:block; width:88px; height:21px; text-align:center; position:relative; left:215px; top:18px; border-radius:2px; font-size:14px;}

/* Temas de Interesse */
.profile_objects {width:360px; float: right; position: relative; right: 80px;}
.clear {display:block;clear:both;}
.objects_name {width: 100%; position: relative; top: 22px; left: 16px; color: #818080; font: 14px Arial, Helvetica, sans-serif; font-weight: normal; font-size: 20px;}
.objects {width: 400px; height: 300px; position: relative; top: 14px; left: 18px;}
.objects_info {width: 100%; position: relative; top: 118px; left: 90px; color: #818080; font: 14px Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 15px; font-style:italic;}
.objects_documents {width:150px; height:104px; display:block; background-color:#dedede; border: 1px solid #d1d1d1; float: left;}
.objects_images {width:210px; height:170px; display:block; background-color:#dedede; border: 1px solid #d1d1d1; float: left; margin-left: 10px;}
.objects_videos {width:150px; height:104px; display:block; background-color:#dedede; border: 1px solid #d1d1d1; float: left; margin-top: -56px;}
.objects_audios {width:210px; height:40px; display:block; background-color:#dedede; border: 1px solid #d1d1d1; float: left; margin:10px 0px 0px 10px;}
.profile_interests {display: block; height: 260px;}
.interests {position: absolute; margin: -17px 0px 0px 50px; border: 1px solid #969696; border-radius: 2px; padding: 10px 10px 10px 10px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.line {width: 800px;}
.theme_buttons li {float:left; background:url(../images/button.png) no-repeat; width:138px; height:32px;text-align:center; cursor:pointer; display: inline-block;position: relative; top: 40px; left: 80px; margin: 20px 100px 20px 20px;}
.theme_buttons li:hover {background:url(../images/button_hover.png) no-repeat; width:138px; height:32px;}
.theme_buttons a {text-decoration:none; font-size:14px;color:#e8f4ef; text-shadow: 0.1em 0.1em #876256; position: relative; top: 5px;}

/* Interesses Culturais */
.profile_cultural {height: 320px;}
.cultural {position: absolute; margin: -17px 0px 0px 50px; border: 1px solid #969696; border-radius: 2px; padding: 10px 10px 10px 10px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.int_cultural {display:block; height:180px; margin:30px 0px 0px 104px; clear:both; color:#818080;}
.icon_book {display:block; height:30px; background:url(../images/icons_cultural.png) no-repeat;}
.icon_music {display:block; height:32px; background:url(../images/icons_cultural.png) no-repeat; background-position: 0px -37px;}
.icon_movie {display:block; height:32px; background:url(../images/icons_cultural.png) no-repeat; background-position: 0px -77px;}
font {display:block; margin:4px 50px 0px -4px; float:left;}
.cultural_item p {float:left; margin:-8px 0px 44px 32px;font-style:italic;}
.cultural_music {background-position: 0px -37px;}

/* Esportes e Hobbies */
.profile_sports {height:280px;}
.sports_hobbies {position: absolute; margin: -17px 0px 0px 50px; border: 1px solid #969696; border-radius: 2px; padding: 10px 10px 10px 10px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.icon_sports{display:block; height:32px; background:url(../images/icons_sports.png) no-repeat;background-position: 9px 0px;}
.icon_hobbies {display:block; height:22px; background:url(../images/icons_sports.png) no-repeat; background-position: 8px -37px;}

/* Curriculum */
.curriculum_info {float:left; width:500px; height:140px;}
.curriculum_info_left {float:right; width:350px; padding-top:24px;}
.button_download {text-decoration:none; color:#FFF; border:1px solid #248c1e; background-color: #71bf44; display:block; width:130px; height:21px; text-align:center; padding-top:4px; border-radius:2px; margin-left:200px; font-size:14px;}
.availability {color:#818080; width:330px; text-align:right; float:left; display:block; margin-top:8px; font-weight:600; font-size:14px;}
.availability span {font-weight:lighter;}
.gender {color:#818080; width:330px; text-align:right; float:left; display:block; margin-top:8px; font-weight:600; font-size:14px;}
.gender span {font-weight:lighter;}
.scholarity {color:#818080; width:330px; text-align:right; float:left; display:block; margin-top:8px; font-weight:600; font-size:14px;}
.scholarity span {font-weight:lighter;}
.phone_number {color:#818080; width:330px; text-align:right; float:left; display:block; margin-top:8px; font-weight:600; font-size:14px;}
.phone_number span {font-weight:lighter;}
.request_phone { width: 100px; }
.line2 {margin-right: 20px;}

.curriculum_address {height:160px;}
.curriculum_icon_address {float:left; position:relative; background:url(../images/icons_curriculum.png) no-repeat; width:40px; height:40px; margin: -17px 0px 0px 32px;}
.address {margin: -17px 0px -17px -22px; border: 1px solid #969696; border-radius: 2px; padding: 10px 22px 10px 22px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold }

.text_curriculum {color:#818080;padding:40px 0px 0px 74px;}
.text_left {display:block; clear:both;float:left; width:510px; }
.text_right {display:block; float:left; width:276px; color:#818080; text-align:right;margin-bottom:35px}

.curriculum_education {height:160px;}
.curriculum_icon_educ {float:left; position:relative; background:url(../images/icons_curriculum.png) no-repeat; background-position:0px -42px; width:40px; height:40px; margin: -17px 0px 0px 32px;}
.education {margin: -17px 0px -17px -22px; border: 1px solid #969696; border-radius: 2px; padding: 10px 22px 10px 22px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold }

.curriculum_experience {height:160px;margin:30px 0 0}
.curriculum_icon_exp {float:left; position:relative; background:url(../images/icons_curriculum.png) no-repeat; background-position:0px -84px; width:40px; height:40px; margin: -17px 0px 0px 32px;}
.experience {margin:-17px 0px -17px -22px; border: 1px solid #969696; border-radius: 2px; padding: 10px 22px 10px 22px; background-color:#fff; color:#cf7353; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.tab{display:none}
#tab_social{display:block;}

.button {display: block;  margin: -21px 0px 0px 250px; text-decoration:none; color:#FFF; border:1px solid #a94750; background-color: #cf535f; width:52px; height:21px; text-align:center; border-radius:2px; font-size:11px; padding-top:2px;}
.button:hover {background-color: #a94750;}

.button_profile1{display: block;  margin: -21px 0px 0px 378px; text-decoration:none; color:#FFF; border:1px solid #a94750; background-color: #cf535f; width:52px; height:21px; text-align:center; border-radius:2px; font-size:11px; padding-top:2px;}
.button_profile1:hover {background-color: #a94750;}
.occupation_edit{width: 100%; position: relative; top: 28px; left: 16px; color: #818080; font: 14px Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 12px;display:block;width:294px}
.occupation_menu{float:left;margin:35px 0px 0px 18px}
.occupation_edit_name{float:left;margin:34px 0px 0px 5px;width:130px}

.multiselect_box{margin:25px 0px 0px 135px;display:block}

.button_curriculum1{display: block; float: left; margin-left: -60px; text-decoration:none; color:#FFF; border:1px solid #a94750; background-color: #cf535f; width:52px; height:21px; text-align:center; border-radius:2px; font-size:11px; padding-top:2px;}
.button_curriculum1:hover{background-color: #a94750;}

.institutions{margin:24px 0px 10px 0px;}

.curriculum_edit_box{display:block;margin:35px 35px 30px 50px}
.curriculum2_edit_box_grid input{margin:0px 20px 0px 0px}
.curriculum3_edit_box_grid input{margin:0px 25px 0px 0px}
.curriculum4_edit_box_grid input{margin:0px 10px 0px 0px}
.edit_label{font-size:12px;color:#818080}
.remove_button {display: block; text-decoration:none; color:#FFF; border:1px solid #a94750; background-color: #cf535f; width:19px; text-align:center; border-radius:2px; font-size:10px; float: right; margin: 0px 0px 0px 15px; cursor:pointer}
.change_avatar{display: block; text-decoration:none; color:#FFF; border:1px solid #a94750; background-color: #cf535f; width:76px; text-align:center; border-radius:2px; font-size:10px; float: right; margin: 50px -10px 0px 0px; cursor:pointer}
.messageButton{float:right;margin:-33px 27px 0 0;font-size:12px;color:#818080;cursor:pointer}