/* 
    Document   : submitForm
    Created on : 05/06/2014, 11:30:13
    Author     : ipti004
    Description:
        Purpose of the stylesheet follows.
*/

.register_box{display:block;margin:75px auto 0;border-radius:10px;width:600px;height:520px;}
.ctn-form_title{background-color:white;display:block;border-radius:20px 20px 0 0;border:1px solid #ccc;height:60px}
.form_title{display:block;margin-top: 20px;font-size:20px;text-align: center;}
.forms{height:370px;padding:20px;display:block;background-color:#E9EDE2;border-radius:0 0 20px 20px;text-align:justify}
.form1_body{display:block;}
.form1_body p{font-size: 13px;line-height: 18px;margin: 18px 0;}
.form1_body a{color:blue}
.form1_title{font-weight: bold;}
.form1_highlight{font-size:13px;background-color:#999999;color: #FFFFFF;line-height: 16px;margin: 30px 0;display:block;padding: 10px;}
.form2_body{display:none;}
.form3_body{display:none;}
.form4_body{display:none;}
.form5_body{display:none;} //{display:block;margin:90px 0 0 0}
.form6_body{display:none;}
.form6_body span {text-align:center}
.loading_gif{display:none;margin:130px auto}
.educational_object_upload_tip{display:block;font-size:14px;margin:10px;text-align:center;}
.educational_object_review{margin:110px 0 10px 0;font-size: 13px;line-height: 18px;font-weight:bold;display:block}
.educational_object_review_tip{display:block;font-size:11px}
.educational_object_image{display:block;margin:15px 0 0 30px;width:290px;}
.educational_object_medias{display:block;margin-left:30px;position:relative;bottom:40px;}
.educational_object_author{float:left; margin:15px 0 30px 30px;}
.educational_object_author_label{font-size: 13px;line-height: 18px;font-weight:bold;float:left}
.educational_object_author_value{width:200px;float:left}
.educational_object_label{font-size: 13px;line-height: 18px;font-weight:bold;display:block}
.educational_object_tip{display:block;font-size:11px}
.educational_object_name_warning{display:none;font-size:11px;color:red}
.educational_object_name{width:550px;margin:5px 0 25px 0;}
.educational_object_theme_warning{display:none;font-size:11px;color:red}
.educational_object_tags{margin:5px 0 0;}
.educational_object_tags_warning{display:none;font-size:11px;color:red}
.educational_object_theme{margin:5px 0 20px 0;}
.educational_object_theme tr{display:block;width:550px;}
.educational_object_theme td{display:inline-block;width:273px;margin:5px 0 0 0}
.educational_object_theme label{font-size:13px}
.educational_object_author_warning_name{display:none;font-size:11px;color:red}
.educational_object_author_warning_email{display:none;font-size:11px;color:red}
.educational_object_author_warning_phone{display:none;font-size:11px;color:red}
.educational_object_author_warning_site{display:none;font-size:11px;color:red}
.educational_object_author_warning{display:none;font-size:11px;color:red}
.educational_object_image_warning{display:none;font-size:11px;color:red}
.educational_object_media_warning{display:none;font-size:11px;color:red}
.authors_added{width:550px;float:left;height:180px;text-indent:5px;border:1px solid #ccc;border-radius:10px;}
.author_added{float:left;margin:5px 0px 30px 20px;width:250px }
.authors_added_label{float:left;font-size:12px;font-weight:bold}
.authors_added_value{float:left;font-size:12px}
#image{float:right;display:none;width:100px;height:100px;margin-right:60px;position:relative;bottom:70px;}
.button_options{margin-top:15px;display:block}
.button_cancel{text-decoration: none;border-radius:5px;width:94px;height:35px;float:left;background-color:#b9d331}
#button_cancel_icon{float:left;padding:4px 2px 0}
.button_cancel_label{color:black;font-size:13px;float:left;margin:10px 0 0 0}
.button_back{display:none;cursor:pointer;text-decoration: none;border-radius:5px;width:94px;height:35px;float:right;background-color:#b9d331}
#button_back_icon{cursor:pointer;float:left;padding:4px}
.button_back_label{color:black;font-size:13px;float:left;margin:10px 0 0 0}
.button_next{cursor:pointer;text-decoration: none;margin-left:10px;border-radius:5px;width:94px;height:35px;float:right;background-color:#b9d331}
#button_next_icon{float:right;padding:4px 2px 0}
.button_next_label{color:black;font-size:13px;float:left;margin:10px 0 0 15px}
.button_author_add{cursor:pointer;text-decoration: none;margin:50px 0 0 40px;border-radius:5px;width:94px;height:35px;float:left;background-color:#b9d331}
#selectImage{cursor:pointer;margin:5px 5px 0 15px;}
#selectedImageName{font-size:13px;position:relative;bottom:10px;}
#noImage{float:right;height:100px;width:100px;background:lightgrey;border-radius:10px;margin-right:60px;position:relative;bottom:70px;}
.selectMedia{cursor:pointer;margin:5px 5px 0 15px;}
.selectedMediaName{font-size:13px;position:relative;bottom:10px;}
.mediaFile{display:none;}
.imageFile{display:none;}
#button_add_icon{float:left;padding:4px 2px}
.button_add_label{color:black;font-size:13px;float:left;margin:10px 0 0 0}
.button_submit{cursor:pointer;display:none;text-decoration: none;margin-left:10px;border-radius:5px;width:94px;height:35px;float:right;background-color:#b9d331}
#button_submit_icon{float:left;padding:4px 2px}
.button_submit_label{color:black;font-size:13px;float:left;margin:10px 0 0 0}
.page_progress_bar{border: 1px solid #999999;color: #666666;font-size: 11px;height: 11px;margin:10px 0 0 120px;padding-bottom: 2px;float:left;width: 160px;}
.page_progress{width: 25%;background-color: #B9D331;height: 11px;position:relative;padding-bottom: 2px;}
.page_number{}
.page_progress_count{width:20px;position:relative;left:45%;display:block;margin:-12px 0 0 0}
.publish_new_object_container{background-color:#b9d331;border-radius:5px;float:right;width:172px;height:51px;text-decoration: none;margin:30px 80px 0 0}
#publish_new_object_lamp{float:left}
.publish_new_object_label{font-size:13px;color:black;float:left;width:120px;margin:10px 0 0 0}
.back_to_home_container{background-color:#b9d331;border-radius:5px;float:left;width:172px;height:51px;text-decoration: none;margin:30px 0 0 80px}
#back_to_home{float:left}
.back_to_home_label{font-size:13px;color:black;float:left;width:120px;margin:10px 0 0 0}
.medias_added{float:left;margin:10px 0 0 0}
.media_added{float:left;margin-right:10px}
.file_attach_image{float:left;display:none;width:30px;height:30px; padding:5px 5px 0 0;}
.file_loading_image{float:left;display:block;width:30px;height:30px; padding:5px 5px 0 0;}
.attached_file_box{float:left;font-weight:bold;margin:0px 5px 0;font-size:13px;}
.remove_media{float:left;width:16px;height:16px;margin:-30px 0 0 0;background:url('/resources/images/close.png') no-repeat}
.clear{display:block;clear:both}

#upload_progress_box{display:block;margin:10% 25% 0;}
.upload_progress_bar{display:block;border:1px solid #000;font-size:11px;width:200px;height:12px;margin:5px 35px 30px;}
.upload_progress_percent{display:block;font-size:10px;}
.upload_progress_background{display:block;background-color:#99ccff;height:12px;width:0;}
.uploaded_file{display:block;font-size:13px;}
.uploaded{display:none;}