/* 
    Document   : viewTopic
    Created on : 26/07/2013, 09:11:03
    Author     : IPTI
    Description:
        Purpose of the stylesheet follows.
*/

.theme_title {color:#404094;font-size:25px;display:block;width:400px;margin:40px 0 0 60px}
.discussion_topics_box {display:block;border:1px solid #B2B6B1; width:910px;margin:10px auto}
.bread_path{font-size:12px;margin:45px 0 18px 20px;display:block}
.bread_path a{color:black;}
.discussion_topic_title_box{background-color:#AFB1AE;display:block;width:910px;height:50px}
.discussion_topic_title{margin:5px 0 2px 20px; float:left;font-weight:bold;width:810px}
.discussion_topic_attached{display:block;width:30px;height:30px;background:url('../images/ico_attach.png') no-repeat;float:right;margin:5px}
.discussion_topic_hot{display:block;width:30px;height:30px;background:url('../images/ico_hot.png') no-repeat;float:right;margin:5px 10px 0 0}
.discussion_topic_tags{margin-left:20px;color:#7A7A7A;display:block;width:500px}
.discussion_topic_tag{font-size:12px;margin-right: 15px}
.discussion_topic_content_box{float:left;width:910px;background-color:#EDEDEB}
.topic_creator_photo{float:left;width:77px;height:77px;margin:25px 10px 10px 20px}
.topic_creator_name{color:black;float:left;font-size:12px;text-decoration:underline;margin:110px 0 40px -87px;width:77px;}
.topic_creator_body{display:block;margin:22px 0 40px 120px;font-size:13px;width:650px;text-align:justify;font-weight:bold}
.topic_creator_file_box{display:block;margin:-20px 0 20px 150px;font-weight:bold;font-size:13px;width:650px}
.topic_creator_file_box a{color:black}
.file{display: none}
.topic_creator_date{font-size:12px;float:right;color:#919291;width:65px;margin:15px 20px 0 0}
.discussion_topic_reply{border-top:1px solid #B2B6B1;width:910px;display:block}
.member_photo{float:left;width:77px;height:77px;margin:25px 10px 10px 20px}
.member_name{color:black;float:left;font-size:12px;text-decoration:underline;margin:110px 0 40px -87px;width:77px;}
.member_reply{display:block;margin:22px 0 40px 120px;font-size:13px;width:650px;text-align:justify;}
.member_file_box{display:block;margin:-20px 0 20px 150px;font-weight:bold;font-size:13px;width:650px}
.member_file_box a{color:black}
.member_date{font-size:12px;float:right;color:#919291;width:65px;margin:15px 20px 0 0}
.discussion_topic_clock{background:url('../images/clocks.png');width:17px;height:18px;float:right;margin:15px 2px 0 0}
.file_attach_image{display:block;width:30px;height:30px;background:url('../images/ico_attach.png') no-repeat;margin:-5px 0 0 120px}
#files_box{display:block;width:500px;}
.remove_media{float:right;width:16px;height:16px;margin:-45px 0 0 0;background:url('/resources/images/close.png') no-repeat}
.back_link{color:black;margin:40px 0 60px 20px;float:left;font-size:14px}
.box_spacer{border-top:1px solid #B2B6B1;display:block;margin:0 0 40px 0}
.reply_sender_name{color:black;float:left;font-size:12px;text-decoration:underline;margin:85px 0 40px -87px;width:77px;}
.reply_sender_photo{float:left;width:77px;height:77px;margin:0 10px 10px 20px}
.new_reply_box{width:850px;height:170px;display:block;margin:0 0 25px 0}
.new_reply_warning{font-size:11px;color:red;display:none;}
.new_reply{width:700px;height:170px;display:block;resize:none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:0}
.reply_message{background-color:#b9d331;border-radius:5px;float:right;background:url('../images/button_post.png') no-repeat;width:94px;height:35px;margin-right:102px}
.reply_message_container{cursor:pointer;float:right;width:94px;height:35px;margin-right:102px;background-color:#b9d331;border-radius:5px;}
#reply_message_icon{float:left;padding:4px;margin-top:1px;}
.reply_message_label{color:black;font-size:13px;float:left;margin:10px 0 0 3px}
.reply_attach_button{position:relative;cursor:pointer;float:right;width:29px;height:29px;background:url('../images/ico_attach_resp.png') no-repeat;margin:0 10px 0 0}
.attached_file_box{display:block;margin:-20px 0 20px 150px;font-weight:bold;font-size:13px;width:500px}
.clear {display:block;clear:both;}
