.admin-tabs {
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    float: right;
    margin-bottom: 20px;
    position: relative;
}

.admin-tabs.object {
    margin-top: 30px;
}

.admin-tabs ul {
    float: left;
}
.admin-tabs li {
    float: left;
    height: 30px;
    margin-top: 15px;
}

.admin-tabs span {
    text-transform: uppercase;
    padding: 10px 20px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    margin-right: 25px;
    text-decoration: none;
    color: #989b94;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.admin-tabs li.active span {
    color: #333;
    border-bottom: 1px solid #e6eadf;
}

.admin-tabs span:hover {
    color: #333;
}

.admin-tabs .user-icon {
    width: 70px;
    top: -10px;
    height: 50px;
    right: 0;
    background: url("../images/menu-icons.png") -375px 169px #e6eadf;
    position: absolute;
}

.admin-tabs .object-icon {
    width: 70px;
    top: -10px;
    height: 50px;
    right: 0;
    background: url("../images/menu-icons.png") -121px 169px #e6eadf;
    position: absolute;
}

.user-label {
    position: absolute;
    right: 70px;
    top: 11px;
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

#object-container-deactivated, #user-container-deactivated {
    display: none;
}

.container {
    margin-bottom: 50px;
}

.col {
    float: left;
    width: 34%;
}

.col:nth-child(3n) {
    float: left;
    width: 32%;
}

.result-box {
    width: 283px;
    height: 90px;
    border: 1px solid #C1C1C1;
    margin-bottom: 20px;
    line-height: 17px;
    position: relative;
}

.result-box p {
    height: 17px;
}

.image {
    height: 90px;
    width: 90px;
    margin-right: 15px;
    float: left;
}

.result-name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
}

.result-name a {
    color: #333;
    text-decoration: none;
}

.subresult {
    font-size: 11px;
    color: gray;
}

.container-action {
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.container-action a {
    color: gray;
    padding: 3px;
    text-decoration: none;
}

.container-action a:hover {
    color: #333;
}

.admin-search {
    background: url(../images/magnifying-glass.png) no-repeat 97% 5px #fff;
    background-size: 17px;
    width: 30%;
    padding: 0px 10px;
    border: 1px solid #CACACA;
    height: 30px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    font-size: 12px;
    text-indent: 5px;
    margin-bottom: 25px;
    display: block;
    font-style: italic;
}