.main-container {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
}

.creator-label, .guests-label {
    font-size: 12px;
    color: #333;
    margin: 5px 0;
    clear: both;
    float: left;
    width: 100%;
}

.creator-user, .guest-user {
    float: left;
    width: 100%;
}

.guest-user {
    margin-bottom: 5px;
}

.creator-user .creator-photo, .guest-user .guest-photo {
    float: left;
    width: 31px;
    height: 31px;
    margin: 0 10px 0 0;
}

.creator-user span, .guest-user span {
    float: left;
    margin-top: 5px;
    font-size: 11px;
    font-weight: bold;
}

.collaborators {
    background-color: #9a9a9a;
    padding: 5px 1px 1px 1px;
    border-radius: 5px;
}

.collaborators-container {
    background-color: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.container-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.collaborators-separator {
    margin: 0 13px !important;
}

.creator-user {
    margin-bottom: 10px;
}

.doc-panel {
    width: 90%;
    background-color: #9a9a9a;
    padding: 5px 1px 1px 1px;
    border-radius: 5px;
}

.doc-topbar {
    background-color: #f0f0f0;
    height: 8px;
}

.doc-container {
    overflow-y: auto;
    height: 500px;
    padding: 8px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px !important;
}

.doc-container strong, .doc-container b {
    font-weight: bold;
}

.doc-container h1 {
    display: block;
    font-size: 2em !important;
    -webkit-margin-before: 0.67em !important;
    -webkit-margin-after: 0.67em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    font-weight: bold;
    color: #000 !important;
}

.doc-container h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.doc-container h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}