#enviroment-info{
    width: 560px;
    float: left;
    font-size: 12px;
    line-height: 14px;
}

#enviroment-info p:nth-child(1){
    font-weight: bold;
    margin-bottom: 5px;
}

#step-by-step-info p{
    color: #6b6e65;
    font-size: 12px;
    line-height: 14px;
}

#enviroment-info .description {
    line-height: 18px;
}

#step-by-step-info img{
    display: block;
    margin: 10px auto;
}

#step-by-step-info div{
    float: left;
    width: 26%;
    margin: 0 20px;
}

#step1 p{
    margin-top: 16px;
}

#step2 p{
    margin-top: 30px;
}

#educational-object-info{
    width: 260px;
    float: right;
    font-size: 12px;
    background-color: #dbded3;
    border-top: 5px solid #9a9c97;
}

#submit-container{
    width: 100%
}

#submit-container a, #submit-educational-object > span{
    text-decoration: none;
    padding: 25px 15px 25px 25px;
    display: block;
}

#submit-educational-object > span {
    cursor: not-allowed;
}

#submit-educational-object{
    margin: 30px auto 30px;
    border-radius: 8px;
    background-color: #a9a9a9;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    line-height: 20px;
}

#submit-educational-object:hover {
    background-color: #333;
}

#submit-educational-object img{
    float: left;
    margin: -10px 13px 0 -10px;
}

#submit-educational-object p{
    color: white;
}

#educational-object-info p:first-of-type{
    margin: 15px 19px 15px 19px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #333;
}

#educational-object-info p{
    margin: 5px 19px 0px 19px;
    line-height: 18px;    
}

#educational-object-info p:last-of-type{
    margin: 5px 19px 20px 19px;
}

#educational-object-info img{
    margin-bottom: -8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#educational-object-info img:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}