#enviroment-info{
    width: 560px;
    float: left;
    font-size: 12px;
    line-height: 14px;
}

#enviroment-info p:nth-child(1){
    font-weight: bold;
    margin-bottom: 5px;
}

#step-by-step-info p{
    color: #6b6e65;
    font-size: 12px;
    line-height: 14px;
    margin: 0 20px;
}

#step-by-step-info img{
    display: block;
    margin: 10px auto;
}

#step-by-step-info div{
    float: left;
    width: 33%;
}

#educational-object-info{
    width: 260px;
    float: right;
    font-size: 12px;
    background-color: #dbded3;
    border-top: 5px solid #9a9c97;
}

#submit-container{
    width: 100%
}

#submit-educational-object{
    margin: 30px 0 30px 140px;
    padding: 25px 15px 25px 25px;
    border-radius: 8px;
    background-color: #a9a9a9;
    font-weight: bold;
    font-size: 14px;
    width: 43%;
    line-height: 20px;
    cursor: pointer;
}

#submit-educational-object img{
    float: left;
    margin: -10px 13px 0 -10px;
}

#submit-educational-object a{
    color: white;
    text-decoration: none;
}

#educational-object-info p:first-of-type{
    font-weight: bold;
    font-size: 14px;
    margin: 15px 20px 15px 20px;
}

#educational-object-info p{
    margin: 5px 20px 0px 20px;
    line-height: 18px;    
}

#educational-object-info p:last-of-type{
    margin: 5px 20px 20px 20px;
}

#educational-object-info img{
    margin-bottom: -8px;
}