#group {
    padding: 18px 35px 50px;
    background: #e6eadf;
}

#group .title {
    margin-bottom: 50px;
}

#group h1 {
    color: #404095;
    font-size: 20px;
}

#group h1 span {
    color: #999;
    padding-left: 10px;
}

.content-tags {
    font-size: 11px;
    background: #e6eadf;
    padding: 5px 15px 2px;
    border-bottom: 2px solid #c1c1c1;
}

.content-tags a {
    text-decoration: none;
    margin-right: 5px;
    color: #999;
}

.content-tags a:hover {
    color: #333;
}

.content-tags a.active {
    color: #9caa35;
} 

.new-topic {
    font-size: 12px;
    font-weight: 800;
    background: #9A9A9A;
    border: none;
    color: #fff;
    border-radius: 6px;
    margin: 2px 0 20px 0;
    float: right;
    padding: 3px 15px;
    text-decoration: none;
    font: bold normal normal 12.3333330154419px/normal Arial;
}

.column-button {
    width: 600px;
    margin: -35px 0 20px 0px;
}

.topic-search {
    background: url(../images/magnifying-glass.png) no-repeat 98% 4px #dcdcdc;
    background-size: 10px;
    width: 55%;
    border: 1px solid #bbbdb8;
    height: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    font-size: 14px;
    text-indent: 10px;
}

.educational-object-search {
    background: url(../images/magnifying-glass.png) no-repeat 98% 4px #dcdcdc;
    background-size: 10px;
    width: 55%;
    border: 1px solid #bbbdb8;
    height: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    font-size: 14px;
    text-indent: 10px;
}

.aside-image-item {
    font-size: 14px;
    margin-top: 20px;
}

.aside-image-item a img{
    width: 95px;
    height: 95px;
    display: block;
    margin: 0 auto;
}

.aside-image-item h4 {
    padding: 0 20px;
    line-height: 17px;
    margin-top: 5px;
    text-align: center;
}

.aside-image-item h4 a {
    text-decoration: none;
    color: #333;
}

.aside-image-item h4 a:hover{
    text-decoration: underline;
}

.aside-image-item p {
    font-size: 11px;
    color: #999;
    padding: 0 20px;
    margin-top: -3px;
    text-align: center;
}

.aside-image-item p a {
    color: #999;
}

.aside-image-item hr {
    margin: 20px 10px 5px;
}