.friend-search {
    background: url(../images/magnifying-glass.png) no-repeat 98% 4px #dcdcdc;
    background-size: 10px;
    width: 30%;
    padding: 0px 5px;
    border: 1px solid #bbbdb8;
    height: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-size: 14px;
    text-indent: 10px;
    margin-bottom: 40px;
    display: block;
}

.friend-search:focus {
    outline: none;
}

.user-arrow {
    background: url('../images/menu-icons.png') no-repeat;
    background-position: -708px -94px;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 2px;
}

.user-menu-box{
    display: none;
    text-align: left;
    text-transform: uppercase;
    margin: 30px 0 0px -140px;
    width: 180px;
    height: 95px; /*mudar pra 155px quando colocar o resto dos links do menu*/
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #C1C1C1;
    cursor: default;
    right: -24px;
}

.user-menu-box a{
    color: gray;
    text-decoration: none;
}

.user-menu-box a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.user-menu-box p{
    margin-left: 15px;
    line-height: 10px;
}

.user-menu-box img{
    padding: 5px 5px 0 0;
    position: relative;
    top: 6px;
}

.user-menu-box:before {
    content:"";
    position: absolute;
    right: 22px;
    bottom: 95px; /*mudar pra 155px quando colocar o resto dos links do menu*/
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #C1C1C1;
}

.user-menu-box:after {
    content:"";
    position: absolute;
    right: 24px;
    bottom: 95px; /*mudar pra 155px quando colocar o resto dos links do menu*/
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

#title_friends{
    margin-bottom: 10px !important;
}

#title_pending{
    margin-top: 30px;
}

.accept_button {
    margin-right: 20px;
}

.reject_button {}

.col {
    float: left;
    width: 34%;
}

.col:nth-child(3n) {
    float: left;
    width: 32%;
}

.user {
    width: 283px;
    height: 89px;
    border: 1px solid #C1C1C1;
    margin-bottom: 20px;
}

.image {
    height: 90px;
    width: 90px;
    margin-right: 25px;
    float: left;
}

.user-name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.user-job {
    font-size: 12px;
    line-height: 1;
    color: gray;
}

.user-plus, .user-arrow {
    background: url('../images/menu-icons.png') no-repeat;
    background-position: -708px -94px;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 3px;    
}

.user-friend {
    float: right;
    width: 25px;
    margin: 15px 10px 0 0;
}

a {
    color:#333;
    text-decoration: none;
}