@charset "utf-8";
/**RESET**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: Arial, Helvetica, sans-serif; vertical-align: baseline;}
:focus {outline: 0;}
ol, ul {list-style: none;}
strong {font-weight: bold;}
/* CSS Document */
body {height:100%; background-color: #84A7CA; margin: 0 auto;}
#general {min-height: 100%; position: relative; width: 950px; margin: 0 auto;}
#menu {position: relative; z-index: 20; text-align: left;}
.top_menu {padding: 6px 0px 2px 4px; position: relative; margin: 0px 0px -16px 0px; height:14px;width: 900px; text-align:right; left:48px; font-size: 12px;}
.top_menu li {display: inline; padding:0 0.4em; margin:0 auto; width:auto; background:none; border-left: 1px #fff solid;}
.first { border-left:0 !important;}
.registered_users_quantity{color:white}
.top_menu li a {color: #fff;}
.mid_menu {display:block; height: 110px; width: 950px; background-color:#E9EDE2; margin: 20px 20px 20px 0px; position: relative; border-top-left-radius: 30px;-webkit-box-shadow: 0 8px 6px -6px gray; -moz-box-shadow: 0 8px 6px -6px gray;  box-shadow: 0 8px 6px -6px gray; border-bottom: 1px solid #919191;}
.img_logo {background:url(../images/logo.png); position: absolute; top: 10px; left: 40px; width:198px; height:88px; cursor: pointer;}
.mid_menu ul {position: absolute; right: 256px; cursor: pointer; height: 110px;}
.menu {display: inline; float:left; text-align: center; font: 14px Tahoma, Geneva, sans-serif ; color: #666666; width:100px; height:58px ; background:url(../images/icons_menu.png) top no-repeat; top: 14px;}
.mid_menu li {border-left: solid 1px #cccccc;height: 111px;}
.menu a {text-decoration: none; color:#666666;padding:70px 0 25px 0;display:block}
.home {background-position: 0px 0px;}
.home:hover {background-position: 0px -111px;}
.profile {background-position: -100px 0px;}
.profile:hover {background-position: -100px -111px;}
.contacts {background-position: -200px 0px;}
.contacts:hover {background-position: -200px -111px;}
.community {background-position: -300px 0px;}
.community:hover {background-position: -300px -111px;}
.environment {background-position: -400px 0px; border-right:1px solid #cccccc;}
.environment:hover {background-position: -400px -111px;}
.log_menu {display:block; float:right; height:110px; width:206px;font: 14px Tahoma, Geneva, sans-serif ; color: #666666;}
.log_menu .welcome {height:40px ;width:80px; right: 112px; top:28px; position:absolute; font-size:15px}
#user_name {color:#666666; position:absolute; right: 122px; top:58px;}
.img_avatar{background:url(../images/avatar.png) no-repeat; float: right; position:absolute; width:69px; height:70px; top:20px; right:18px;}
#content {display: block; width: 950px; background-color: #DCDFD4; margin: -20px auto 20px;; padding:1px 0px 20px 0px;}
#content_box {display: block; background-color: #fff; width: 900px; margin: 70px 0px 0px 24px;border:1px solid #ababab;}
.messenger{z-index:10; position:fixed; width:220px; border:1px solid #000; bottom:0; right:20px; background-color: #DDDDDD}
#messenger_friends{display:none;overflow:auto;}
#messenger_friends li{border-bottom: 1px solid black;padding:5px;cursor:pointer;}
#friend_photo{float:left;width:25px;height:25px;margin:-3px 5px 0 0 }
.messenger span{background-color: black;color:white;display:block;cursor:pointer}
.messenger_boxes{z-index:10;position:fixed; left:20px; bottom:0; }
.messenger_boxes div#messages{height:111px; max-height: 111px;overflow:auto;width:220px;border-radius:5px;border:1px solid #000; text-indent:3px;background-color:white}
.messenger_boxes li{border:2px solid #000; border-bottom: 0px; border-top-left-radius: 10px; border-top-right-radius: 10px; display: table-cell; position: relative; vertical-align: bottom; float:left;width:220px;background-color: #DDDDDD;padding:10px;margin-right:5px;height:150px;}
.new_message{color:gray}
#messages p{font-size:11px}
.messenger_title{font-size:13px}
#history{background:url(../images/magnifer.png) no-repeat;float:right;width:20px;height:20px;cursor:pointer}
#close{background:url(../images/close.png) no-repeat;float:right;width:20px;height:20px;cursor:pointer}
.textmessage{width:145px}
.localeLogon{float:right;margin-right:10px}
.logoutContainer{float:right;}