body {
    background: #5D5D5D;
    font-family: verdana, "Bitstream Vera Sans", "DejaVu Sans",arial, sans-serif;
    line-height: 23px;
}

.clear {
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

hr {
    border: 0;
    background-color: #CACACA;
    height: 1px;
}

p {
    margin-bottom: 10px;
}

.title {
    background: #9D9D9D;
    padding: 35px 35px 15px;
}

.title h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/** Conteudo **/
.content {
    background: #E3E6DD;
    padding: 20px 35px;
}

.main {
    width: 565;
    float: left;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-1 {
    width: 100%;
    float: left;
}

.main-register input[type=text], .main-register input[type=password] {
    width: 285px !important;
    outline: none;
}

.main-register {
    width: 650px;
}

.main-register .submit {
    padding: 15px 80px;
    float: right;
    margin-right: -235px;
    margin-top: 25px;
}

.main-register form {
    padding: 10px 0;
}

/** Sidebar **/
aside {
    width: 325px;
    float: right;
}

.panel {
    background: white;
    padding: 25px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.panel-login{
    height:186px;
}

aside .panel:last-child {
    margin: 0;
}

.background {
    background-image: url(../images/bg-sidebar.png);
    background-repeat: no-repeat;
}

.panel h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.panel input {
    width: calc(100% - 20px);
}

.panel button[type=submit] {
    float: right;
    padding: 6px 6px 5px 7px;
}

.panel .forgot {
    float: left;
    font-size:14px;
    margin-top: 20px;
}

.black {
    color:#323232
}

/** Footer **/
footer {
    background: #9D9D9D;
} 

footer img {
    margin: 5px 25px 15px;
}

footer h3 {
    color: white;
    font-size:13px;
    padding: 2px 0 0 35px;
}

/** Buttons **/
button {
    background: #323232;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 11px;
    font-family: verdana, "Bitstream Vera Sans", "DejaVu Sans",arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.block {
    width: calc(100%);
}

.circle {
    border-radius: 50%;
}

/** Forms **/
input {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #CACACA;
    height: 30px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    padding: 0 10px;
    font-style: italic;
    font-size: 12px;
    outline: none;
}

input[type=text], input[type=password] {
    width: 255px;
}

div.select select {
    background-color: transparent;
    outline: none;
    width: 307px;
    padding: 0px 5px;
    line-height: 1;
    margin-bottom: 15px;
    border: 1px solid #CACACA;
    height: 32px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    font-style: italic;
    border-radius: 5px;
    font-size: 12px;
}

div.select {
    width: 307px;
    height: 32px;
    overflow: hidden;
    background: url(../images/arrow-select.png) no-repeat 279px 6px #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.presentation{
    font-size:22px;
}

.pointer{
    cursor:pointer;
}

.logo-guigoh {
    position: absolute;
    bottom: 25px;
    left: 35px;
}

.logo-ipti {
    position: absolute;
    bottom: 6px;
    right: 35px;
}

.header-logo {
    background: url(../images/bg-header.png) #E3E6DD;
    height: 100px;
    padding: 0 35px;
    position: relative;
}

.header-picture {
    height: 315px;
}

.msg{
    color: red;
    font-size:12px;
    display:block;
    margin:-19px 0px 8px 0px
}

.error{
    color:red !important;
}

.info{
    color:green !important;
}

.mirror{
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.question{
    display:block;
    height:32px;
    margin-bottom:15px;
}

.question .black{
    margin-top:10px;
    line-height:32px;
}

.email-recovery {
    margin-bottom: 39px;
}

.pass-sent {
    margin-bottom: 109px !important;
}

.secret-question{
    font-size:14px;
    display:block;
}

.secret-answer{
    margin-bottom:15px
}

.buttons{
    display:block;
}

.back{
    margin-top:37px;
}