#content {
    padding: 0 0 35px 0 !important;
}

#content h1 {
    margin-bottom: 0 !important;
}

.profile-resume {
	padding: 30px 0 0 0;
}

.profile-image {
	padding: 5px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    width: 125px;
    height: 125px;
    border-radius: 3px;
    margin: -75px 20px 0 35px;
  	float:left;
  	position: relative;
}

.profile-name {
	float: left;
}

.profile-name h1 {
	color: #404095;
	font-size: 20px;
}

.profile-name p {
	color: #989b94;
	font-size: 18px;
        height: 19px;
}

.profile-status {
	float: right;
	width: 425px;
	text-align: right;
	color: #989b94;
	font-style: italic;
	margin-right: 40px;
}

.profile-resume button {
	margin: 5px 0 0 10px;
}

.profile-tabs {
	border-bottom: 1px solid #c1c1c1;
	width: calc(100% - 35px);
	float: right;
	margin-bottom: 35px;
}

.profile-tabs ul {
	float: right;
}
.profile-tabs li {
	float: left;
	height: 30px;
	margin-top: 15px;
}

.profile-tabs a {
	text-transform: uppercase;
    padding: 10px 20px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    margin-right: 25px;
    text-decoration: none;
    color: #989b94;
    font-size: 11px;
    font-weight: bold;
}

.profile-tabs li.active a {
	color: #333;
	border-bottom: 1px solid #e6eadf;
}

.profile-tabs a:hover {
	color: #333;
}

#profile-container-objects, #profile-container-resume {
	display: none;
}

.profile-column-left {
	padding-left: 35px;
	float: left;
	padding-right: 35px;
	width: 665px;
}

.profile-column-right {
	padding-right: 35px;
	padding-left: 20px;
	font-size: 11px;
	border-left: 1px solid #c1c1c1;
	float: left;
	line-height: 12px;
	width: 169px;
}

.profile-about-list {
	padding: 15px 0 15px 55px;
	line-height: 18px;
}

.profile-about-list:first-child h3 {
	line-height: 14px;
}

.profile-about-title {
	width: 90px;
	margin-right: 15px;
	float: left;
	text-align: right;
}
.profile-about-title h3 {
	font-weight: bold;
	font-size: 11px;
	color: #989b94;
}

.profile-about-description {
	font-size: 14px;
	margin-left: 105px;
	padding-top: 10px;
}

.profile-about-description a {
	color: #404095;
	font-weight: bold;
}

#profile-container-about hr {
	width: 175px;
	padding-left: 40px;
	margin-left: 95px;
}

#profile-icon-heart {
	margin-right: -13px;
    margin-bottom: -4px;
}

#profile-icon-music {
	margin-right: -12px;
}

#profile-icon-book {
	margin-right: -13px;
    margin-bottom: 3px;
}

#profile-icon-movie {
	margin-right: -17px;
    margin-bottom: 8px;
}

#profile-icon-sport{
	margin-right: -14px;
    margin-bottom: -4px;
}

#profile-icon-hobbie {
	margin-right: -14px;
}

#profile-icon-mail img, #profile-icon-birthday img{
	clear: both;
	float: left;
	margin-right: 10px
}

#profile-icon-birthday {
	margin-top: 10px;
    line-height: 25px;
}


.profile-resume-left {
	float: left;
}

.profile-resume-right {
	float: right;
	text-align: right;
	font-size: 11px;
    line-height: 13px;
}

.profile-resume-title {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.profile-resume-name {
	font-size: 20px;
}

.profile-resume-ocupation {
	color: #989b94;
    font-size: 20px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

#profile-container-resume > .profile-column-right {
	border: none;
	text-align: center;
}

.profile-history-container {
	border-bottom: 1px solid #c1c1c1;
	padding-top: 30px;
}
.profile-history-title {
	background-color: #E6EADF;
    margin-bottom: -1px;
    text-align: left;
    display: table;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-right: 5px;
}

.profile-history-list {
	padding: 20px 0 0 0;
	line-height: 18px;
}

.profile-history-list:first-child h3 {
	line-height: 14px;
}

.profile-history-date {
	width: 145px;
	margin-right: 15px;
	float: left;
	text-align: right;
}
.profile-history-date h3 {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}

.profile-history-description {
	float: left;
	font-size: 14px;
	width: 480px;
}

.profile-history-description a {
	color: #404095;
	font-weight: bold;
}

.btn-gray {
	background: #9A9A9A;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 5px 22px;
    font-weight: bold;
    cursor: pointer;
}

.profile-object-number {
    color: #404095;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

.profile-object-number span {
    font-size: 80px;
    line-height: 100px;
}

/** Pode colocar no layout.css **/

.item-box-container	{
	width: 315px;
	height: 100px;
	border: 1px solid #c1c1c1;
	line-height: 18px;
	float: left;
	margin: 0 15px 20px 0;
}

.item-box-img {
	float: left;
	margin-right: 20px;
}

.item-box-title {
	padding-top: 10px;
}

.item-box-aux {
	font-size: 12px;
}

.item-box-title-bold {
	font-weight: bold;
	font-size: 14px;
    padding-top: 10px;
}

.item-box-date {
	font-size: 12px;
	color: #989b94;
}

.item-box-date img {
	margin-right: 5px;
	vertical-align: text-bottom;
}