#content {
    padding: 0 0 35px 0 !important;
    min-height: calc(100% - 192px) !important;
}

#content h1 {
    margin-bottom: 0 !important;
}

.blocked {
    width: 30px;
    position: absolute;
    top: -5px;
    right: -50px;
}

.profile-resume {
    padding: 30px 0 0 0;
}

.profile-cover-image{
    height: 200px;
    position: relative;
}

.profile-cover-image:hover .edit-photo {
    display: block;
} 

.profile-cover-image img{
    width: 960px;
    height: 200px;
    background: #ccc;
    display: block;
}

.profile-image {
    padding: 5px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    width: 125px;
    height: 125px;
    border-radius: 3px;
    margin: -75px 20px 0 35px;
    float:left;
    position: relative;
}

.profile-image:hover .edit-photo {
    display: block;
} 

.profile-image img {
    width: 125px;
    height: 125px;
}

.edit-photo {
    float: right;
    color: gray;
    cursor: pointer;
    display: none;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    background-color: #e6eadf;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

.edit-photo:hover {
    box-shadow: 0px 0px 3px whitesmoke
}

.image-error {
    float: left;
    margin-top: -25px;
    color: red;
    font-size: 13px;
}

.profile-name {
    float: left;
    max-width: 300px;
}

.profile-name h1 {
    color: #404095;
    font-size: 20px;
    position: relative;
}

.profile-name p {
    color: #989b94;
    font-size: 18px;
    height: 19px;
    display: inline;
}

.profile-status {
    float: right;
    width: 425px;
    text-align: right;
    color: #989b94;
    font-style: italic;
    margin-right: 40px;
}

.profile-options {
    top: 10px;
    position: relative;
    left: 75px;
}

span.friend-situation > img {
    cursor: not-allowed;
}

.friend-status {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background-size: 20px!important;
}

.friend-status.add {
    background: url('../images/add-friend-gray.png') no-repeat;
}

.friend-status.remove {
    background: url('../images/remove-friend-gray.png') no-repeat;
}

.friend-status.add:hover {
    background: url('../images/add-friend-hv.png') no-repeat;
}

.friend-status.remove:hover {
    background: url('../images/remove-friend-hv.png') no-repeat;
}

.profile-options.admin {
    left: 60px !important;
}

.profile-options > img {
    left: 35px;
}

.profile-options img {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
}

.open-chat.disabled {
    cursor: not-allowed !important;
}

.block {
    position: absolute;
    left: 70px;
}

.profile-resume button {
    margin: 5px 0 0 10px;
}

.profile-tabs {
    border-bottom: 1px solid #c1c1c1;
    width: calc(100% - 35px);
    float: right;
    margin-bottom: 35px;
}

.profile-tabs ul {
    float: right;
}
.profile-tabs li {
    float: left;
    height: 30px;
    margin-top: 15px;
}

.profile-tabs span {
    text-transform: uppercase;
    padding: 10px 20px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    margin-right: 25px;
    text-decoration: none;
    color: #989b94;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.profile-tabs li.active span {
    color: #333;
    border-bottom: 1px solid #e6eadf;
}

.profile-tabs span:hover {
    color: #333;
}

#profile-container-docs, #profile-container-objects, #profile-container-resume {
    display: none;
}

.profile-column-left {
    padding-left: 35px;
    float: left;
    padding-right: 35px;
    width: 665px;
}

.profile-column-right {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11px;
    border-left: 1px solid #c1c1c1;
    float: right;
    line-height: 12px;
    width: 184px;
}

.profile-about-list {
    padding: 15px 0 15px 55px;
    line-height: 18px;
}

.profile-about-list:first-child h3 {
    line-height: 14px;
}

.profile-about-title {
    width: 90px;
    margin-right: 15px;
    float: left;
    text-align: right;
}
.profile-about-title h3 {
    font-weight: bold;
    font-size: 11px;
    color: #989b94;
}

.profile-about-description {
    font-size: 14px;
    margin-left: 105px;
    padding-top: 10px;
}

.profile-about-description p {
    display: inline;
    width: 90%;
}

.add-new {
    text-decoration: none;
    color: gray !important;
    font-size: 14px;
    cursor: pointer;
    font-style: normal !important;
}

.add-new:hover span {
    text-decoration: underline;
}

.add-new i {
    padding-right: 3px;
}

.add-new-phone {
    margin-top: 3px;
    display: block;
}

#editable-profile-phone {
    margin-bottom: 20px;
}

.select.location select {
    background-color: transparent;
    width: 130px;
    height: 30px;
    padding: 0px 5px;
    line-height: 1;
    margin-bottom: 15px;
    border: 1px solid #CACACA;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    font-style: italic;
    font-size: 12px;
    text-indent: 1px;
}

.select.location {
    display: inline-block;
    width: 130px;
    margin-left: 5px;
    margin-bottom: 3px;
    background: url(../images/arrow-select.png) no-repeat 103px 5px #fff;
    border-radius: 5px;
    height: 30px;
}

.editable-field {
    background: #fff;
    border: 1px solid #CACACA;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    text-indent: 5px;
    font-style: italic;
    font-size: 12px;
    height: 30px;
    padding: 0 5px;
}

.editable-address {
    width: 300px;
    margin: 0 10px 5px 0;
}

.editable-number {
    width: 65px;
}

.editable-neighborhood {
    margin: 0 10px 5px 0;
}

.editable-cep {
    width: 85px;
}

.editable-textarea {
    resize: none;
    width: 250px;
    height: 43px !important;
    padding: 5px !important;
}

.editable-social-interest {
    width: 450px;
}

#editable-profile-birth-date {
    margin: 18px 0 0 0;
    display: block;
}

#editable-profile-birth-date p{
    display: inline-block;
    margin-top: 2px;
}

.editable-birth-date {
    width: 120px;
    margin-top: -10px !important;
}

.edit-button {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 0 0 5px;
}

.edit-button:hover {
    color: #333;
}

.edit-button.edit-birthday {
    margin-top: -5px !important;
}

.edit-pencil {
    margin: 0 0 0 10px;
    display: none;
    color: gray;
    cursor: pointer;
}

.editable-container:hover .edit-pencil {
    display: inline-block;
}

#editable-profile-education .add-new, #editable-profile-experience .add-new {
    margin: 20px 0 0 30px;
    display: block;
}

#education-inputs, #experience-inputs {
    margin: 20px 0 0 0;
    display: inline-block;
}

.editable-education-initial-date, .editable-education-final-date,
.editable-experience-initial-date, .editable-experience-final-date{
    margin-right: 5px;
    float: left;
    width: 110px;
}

.select.scholarity select {
    background-color: transparent;
    width: 220px;
    height: 30px;
    padding: 0px 5px;
    line-height: 1;
    border: 1px solid #CACACA;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    float: left;
    text-indent: 1px;
}

.select.scholarity {
    float: left;
    border-radius: 5px;
    background: url(../images/arrow-select.png) no-repeat 192px 5px #fff;
    overflow: hidden;
    height: 30px;
    width: 220px;
}

.editable-education-name, .editable-education-location,
.editable-experience-location{
    width: 97.5%;
    margin-top: 3px;
}

.editable-experience-occupation {
    width: 208px;
    float: left;
}

.education-edit-button, .experience-edit-button {
    float: right;
}

#profile-container-about hr {
    width: 175px;
    padding-left: 40px;
    margin-left: 95px;
}

#profile-icon-heart {
    margin-right: -13px;
    margin-bottom: -4px;
}

#profile-icon-music {
    margin-right: -12px;
}

#profile-icon-book {
    margin-right: -13px;
    margin-bottom: 3px;
}

#profile-icon-movie {
    margin-right: -17px;
    margin-bottom: 8px;
}

#profile-icon-sport{
    margin-right: -14px;
    margin-bottom: -4px;
}

#profile-icon-hobbie {
    margin-right: -14px;
}

#profile-icon-mail i, #profile-icon-birthday img{
    float: left;
    margin-right: 10px;
}

#profile-icon-mail i {
    font-size: 18px;
    color: #9c9c9c;
    margin-top: -4px;
}

#profile-icon-birthday {
    margin-top: 10px;
    line-height: 25px;
}


.profile-resume-left {
    float: left;
    width: 260px;
}

.profile-resume-right {
    float: right;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
}

.profile-resume-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.profile-resume-name {
    font-size: 20px;
}

.profile-resume-occupation {
    color: #989b94;
    font-size: 20px;
    display: inline;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#profile-container-resume > .profile-column-right {
    border: none;
    text-align: center;
}

.profile-history-container {
    border-bottom: 1px solid #c1c1c1;
    padding-top: 30px;
}
.profile-history-title {
    background-color: #E6EADF;
    margin-bottom: -1px;
    text-align: left;
    display: table;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-right: 5px;
}

.profile-history-list {
    margin: 20px 0 0 0;
    line-height: 18px;
    display: inline-block;
}

.profile-history-list:first-child h3 {
    line-height: 14px;
}

.profile-history-date {
    width: 145px;
    margin-right: 15px;
    float: left;
    text-align: right;
}
.profile-history-date h3 {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

.profile-history-description {
    float: left;
    font-size: 14px;
}

.profile-history-description a {
    color: #404095;
    font-weight: bold;
}

.profile-history-list:hover .remove-eduexp {
    display: inline;
}

.remove-eduexp {
    display: none;
    float: left;
    margin: 0 0 0 20px;
    cursor: pointer;
    padding: 0 6px 6px 6px;
    color: gray;
}

.btn-gray {
    background: #9A9A9A;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 5px 22px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-gray:hover {
    background: #333;
}

.profile-object-number, .profile-document-number {
    color: #404095;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

.profile-object-number span, .profile-document-number span {
    font-size: 80px;
    line-height: 100px;
}

/** Pode colocar no layout.css **/

.item-box-container	{
    width: 315px;
    height: 100px;
    border: 1px solid #c1c1c1;
    line-height: 18px;
    float: left;
    margin: 0 15px 20px 0;
}

.item-box-img {
    float: left;
    margin-right: 15px;
    width: 100px;
    margin-top: 12px;
    margin-left: 5px;
    height: 79px;
}

.item-box-title, .item-box-doc-title {
    height: 18px;
    padding-top: 10px;
}

.item-box-aux {
    height: 18px;
    font-size: 12px;
}

.item-box-title-bold {
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    text-decoration: none;
    color: #333;
}

.item-box-title-bold p{
    margin-top: 10px;
}

.item-box-date {
    font-size: 12px;
    color: #989b94;
}

.item-box-date img {
    height: 12px;
    margin: 0 5px 1px 0;
    vertical-align: text-bottom;
}