.general-search {
    position: relative;
}

.general-search input {
    background: #dcdcdc;
    width: 77%;
    padding: 0px 5px;
    border: 1px solid #bbbdb8;
    height: 32px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-size: 18px;
    text-indent: 10px;
    margin-bottom: 55px;
}

.general-search input:focus {
    outline: none;
}

.general-search img {
    position: absolute;
    width: 20px;
    margin: 4px 0 0 -35px;
}

.category {
    border-top: 1px solid #C1C1C1;
    padding: 30px 0 10px 0;
}

.category-name {
    float: left;
    color: gray;
    margin-top: -13px;
    background-color: #e6eadf;
    padding-right: 10px;
}

.col {
    float: left;
    width: 34%;
}

.col:nth-child(3n) {
    float: left;
    width: 32%;
}

.result-box {
    width: 283px;
    height: 90px;
    border: 1px solid #C1C1C1;
    margin-bottom: 20px;
}

.image {
    height: 90px;
    width: 90px;
    margin-right: 15px;
    float: left;
}

.result-name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.result-name a {
    color: black;
    text-decoration: none;
}

.topic-author {
    margin-bottom: 5px;
}

.user-job, .topic-author {
    font-size: 12px;
    line-height: 1;
    color: gray;
    height: 12px;
}

.user-plus, .user-arrow {
    margin-top: 10px;
}

.user-clock {
    margin-top: 9px;
    font-size: 20px;
}

.user-chat {
    margin-top: 15px;
    float: left;
    cursor: pointer;
}

.user-chat img {
    width: 15px;
    float: left;
    margin: 0 5px 0 0;
}

.user-chat span {
    font-size: 11px;
    margin-top: -3px;
    float: left;
    color: gray;
    font-weight: bold;
}

.user-friend-status {
    float: right;
    width: 25px;
    margin: 9px 0 0 0;
    padding: 4px 7px;
    border-top-left-radius: 5px;
    border-top: 1px solid #C1C1C1;
    border-left: 1px solid #C1C1C1;
}

.user-friend-status.add {
    background-color: #31bc7a;
}

.user-friend-status.pending {
    background-color: #ddc345;
}

.user-friend-status.remove {
    background-color: #d1303d;
}

.result-date {
    font-size: 11px;
    line-height: 1;
    color: gray;
    height: 12px;
}

.result-date img {
    float: left;
    margin: 0 3px 0 0;
    height: 12px;
}

.load-more.search { 
    margin-bottom: 15px;
}