.content-tags {
    font-size: 11px;
    background: #e6eadf;
    padding: 5px 15px 2px;
    border-bottom: 2px solid #c1c1c1;
}

.content-tags a {
    text-decoration: none;
    margin-right: 5px;
    color: #999;
}

.content-tags a:hover {
    color: #333;
}

.content-tags a.active {
    color: #9caa35;
} 

#group {
    padding: 26px 35px 50px;
    background: #e6eadf;
}

#group .title {
    margin-bottom: 50px;
}

#group h1 {
    color: #404095;
    font-size: 24px;
    margin-bottom: 46px;
}

#group h1 span {
    color: #999;
    padding-left: 10px;
}

.column-left {
    float: left;
}

.column-right {
    float: left;
    width: calc(100% - 110px);
}

.column-object-description {
    padding-top: 15px !important; 
    width: 100% !important;
    margin-bottom: 15px;
}

.column-object-description p {
    white-space: pre-wrap;
}

.column-object-title {
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 100% !important;
}

.topic-title {
    float: left;
    width: 80%;
}

.column-object-date {
    float: right;
    margin-top: 4px;
    font-weight: normal !important;
}

.column-object-author {
    float: left;
    width: 80%;
}

.column-list-item.last {
    border-bottom: 0 !important;
}

.file-attached {
    float: left;
    width: 100%;
}

.file-attached a{
    float: left;
}

.file-attached a img {
    width: 25px;
    float: left;
    margin-right: 5px;
}

.file-attached a span {
    float: left;
    margin-top: 2px;
}

.file-attached a:hover span {
    text-decoration: underline;
}

.illusory-textarea {
    background-color: white;
    float: left;
    position: relative;
    width: calc(100% - 115px);
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    margin-bottom: 5px;
}

.illusory-textarea:before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: 110px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #C1C1C1;
}

.illusory-textarea:after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 112px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}

.message-textarea {
    width: calc(100% - 20px);
    height: 100px;
    resize: none;
    margin: 5px 3px -2px 7px;
    border: none;
    line-height: 17px;
    font-size: 12px;
    border-radius: 4px;
}

.illusory-textarea hr {
    margin: 0 10px;
}

.illusory-textarea a {
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

.illusory-textarea img {
    width: 25px;
}

.attach-link {
    float: right;
    margin-right: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.reply-container {
    margin-top: 20px;
}

.file-container {
    float: left;
    margin-left: 10px;
}

.file {
    margin-top: 4px;
    float: left;
    font-size: 11px;
    color: gray;
}

.remove-file {
    margin-right: 0 !important;
    float: left;
    margin-top: 4px;
}

.pagination-top, .pagination-bottom {
    text-align: right;
}

.pagination-top {
    margin: -30px 0 14px 0;
}

.fa-step-backward, .fa-step-forward {
    margin: 0 10px;
}

.page-number {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
}

.page-number:hover, .page-number.active {
    text-decoration: underline;
}

.page-icons {
    color: #333;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}