<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="GuigohPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.guigoh.entity.Educations</class>
    <class>com.guigoh.entity.Language</class>
    <class>com.guigoh.entity.Experiences</class>
    <class>com.guigoh.entity.Tags</class>
    <class>com.guigoh.entity.DiscussionTopic</class>
    <class>com.guigoh.entity.SocialProfile</class>
    <class>com.guigoh.entity.City</class>
    <class>com.guigoh.entity.EducationalObject</class>
    <class>com.guigoh.entity.Occupations</class>
    <class>com.guigoh.entity.ExperiencesLocation</class>
    <class>com.guigoh.entity.EducationsLocation</class>
    <class>com.guigoh.entity.Country</class>
    <class>com.guigoh.entity.SecretQuestion</class>
    <class>com.guigoh.entity.Author</class>
    <class>com.guigoh.entity.Config</class>
    <class>com.guigoh.entity.UserContactInfo</class>
    <class>com.guigoh.entity.DiscussionTopicFiles</class>
    <class>com.guigoh.entity.MessengerMessages</class>
    <class>com.guigoh.entity.Role</class>
    <class>com.guigoh.entity.State</class>
    <class>com.guigoh.entity.OccupationsType</class>
    <class>com.guigoh.entity.EmailActivation</class>
    <class>com.guigoh.entity.Availability</class>
    <class>com.guigoh.entity.MessengerStatus</class>
    <class>com.guigoh.entity.Friends</class>
    <class>com.guigoh.entity.DiscussionTopicMsg</class>
    <class>com.guigoh.entity.EducationalObjectMedia</class>
    <class>com.guigoh.entity.Synchronization</class>
    <class>com.guigoh.entity.InterestsType</class>
    <class>com.guigoh.entity.Networks</class>
    <class>com.guigoh.entity.SocialProfileVisibility</class>
    <class>com.guigoh.entity.Users</class>
    <class>com.guigoh.entity.ContactType</class>
    <class>com.guigoh.entity.Scholarity</class>
    <class>com.guigoh.entity.DiscussionTopicWarnings</class>
    <class>com.guigoh.entity.EducationsName</class>
    <class>com.guigoh.entity.Subnetwork</class>
    <class>com.guigoh.entity.Interests</class>
    <class>com.guigoh.entity.UserAuthorization</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://192.168.25.209:5432/guigoh"/>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="eclipselink.jdbc.uppercase-columns" value="TRUE"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="eclipselink.query-results-cache" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
