<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="GuigohPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.guigoh.primata.entity.Authorization</class>
    <class>com.guigoh.primata.entity.Availability</class>
    <class>com.guigoh.primata.entity.City</class>
    <class>com.guigoh.primata.entity.ContactType</class>
    <class>com.guigoh.primata.entity.Country</class>
    <class>com.guigoh.primata.entity.Experiences</class>
    <class>com.guigoh.primata.entity.Interests</class>
    <class>com.guigoh.primata.entity.InterestsType</class>
    <class>com.guigoh.primata.entity.Networks</class>
    <class>com.guigoh.primata.entity.Occupations</class>
    <class>com.guigoh.primata.entity.OccupationsType</class>
    <class>com.guigoh.primata.entity.SecretQuestion</class>
    <class>com.guigoh.primata.entity.SocialProfile</class>
    <class>com.guigoh.primata.entity.SocialProfileVisibility</class>
    <class>com.guigoh.primata.entity.State</class>
    <class>com.guigoh.primata.entity.Synchronization</class>
    <class>com.guigoh.primata.entity.UserContactInfo</class>
    <class>com.guigoh.primata.entity.Users</class>
    <class>com.guigoh.primata.entity.Subnetwork</class>
    <class>com.guigoh.primata.entity.Language</class>
    <class>com.guigoh.primata.entity.Friends</class>
    <class>com.guigoh.primata.entity.EmailActivation</class>
    <class>com.guigoh.primata.entity.Scholarity</class>
    <class>com.guigoh.primata.entity.EducationsLocation</class>
    <class>com.guigoh.primata.entity.ExperiencesLocation</class>
    <class>com.guigoh.primata.entity.EducationsName</class>
    <class>com.guigoh.primata.entity.Educations</class>
    <class>com.guigoh.primata.entity.Config</class>
    <class>com.guigoh.primata.entity.MessengerStatus</class>
    <class>com.guigoh.primata.entity.MessengerMessages</class>
    <class>com.guigoh.primata.entity.DiscussionTopic</class>
    <class>com.guigoh.primata.entity.DiscussionTopicFiles</class>
    <class>com.guigoh.primata.entity.DiscussionTopicMsg</class>
    <class>com.guigoh.primata.entity.DiscussionTopicWarnings</class>
    <class>com.guigoh.primata.entity.Tags</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/guigoh"/>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="eclipselink.jdbc.uppercase-columns" value="TRUE"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="eclipselink.query-results-cache" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
